* {
	box-sizing: border-box;
}

html {
	margin: 0px;
	line-height: 1.15;
}

body {
	font-family: 'Urbanist', sans-serif;
	margin: 0px;
	padding: 0px;
	content-visibility: auto;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: #a7170c;
	text-decoration: underline;
}

[type=checkbox], [type=radio] {
	box-sizing: border-box;
	padding: 0;
}
button, input {
	overflow: visible;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

audio {
	width: 100%;
}